<main class="{{styles.profile-pageWrapper}}">
  <section class="{{styles.back-link}}">
    <div class="{{styles.profile-backIconWrapper}}">{{> LeftArrowIcon}}</div>
  </section>

  <section class="{{styles.profile-content}}">
    <header>
        <label class="{{styles.profile-noAvatar}}">
            {{> PictureIcon}}
            <input name="avatar" type="file"></input>
        </label>
        <b>{{user.name}}</b>
    </header>

    <div class="{{styles.profile-info}}">
        <div>
            <span>Почта</span>
            <input name="email" value="{{user.email}}"></input>
        </div>
        <div>
            <span>Логин</span>
            <input name="login" value="{{user.login}}"></input>
        </div>
         <div>
            <span>Имя</span>
            <input name="first_name" value="{{user.name}}"></input>
        </div>
        <div>
            <span>Фамилия</span>
            <input name="second_name" value="{{user.second_name}}"></input>
        </div>
         <div>
            <span>Имя в чате</span>
            <input name="display_name" value="{{user.display_name}}"></input>
        </div>
         <div>
            <span>Телефон</span>
            <input name="phone" value="{{user.phone}}"></input>
        </div>
    </div>

    {{> Button variant="primary" text="Сохранить" size="medium"}}
  </section>
</main>
