<label class="{{styles.label}}">
  <input
    name="{{name}}"
    class="{{styles.input}}"
    placeholder="{{placeholder}}"
    pattern="{{pattern}}"
    min="{{min}}"
    max="{{max}}"
    {{#if type}} type="{{type}}" {{else}} type="text" {{/if}}
    {{#if required}} required="{{required}}" {{/if}} 
    />
    <span class="{{styles.label-text}}">{{placeholder}}</span>
    <span class="{{styles.error-message}}">{{errorMessage}}</span>
</label>