<main class="{{styles.profile-pageWrapper}}">
  <section class="{{styles.back-link}}">
    <div class="{{styles.profile-backIconWrapper}}">{{> LeftArrowIcon}}</div>
  </section>

  <section class="{{styles.profile-content}}">
    <header>
        <div class="{{styles.profile-noAvatar}}">{{> PictureIcon}}</div>
        <b>{{user.name}}</b>
    </header>

    <div class="{{styles.profile-info}}">
        <div>
            <span>Старый пароль</span>
            <input name="oldPassword" type="password" value="{{user.old_password}}"></input>
        </div>
        <div>
            <span>Новый пароль</span>
            <input name="newPassword" type="password"></input>
        </div>
         <div>
            <span>Повторите новый пароль</span>
            <input name="newPassword" type="password"></input>
        </div>
    </div>

   {{> Button variant="primary" text="Сохранить" size="medium"}}
  </section>
</main>
